<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>

<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => ['Enter Missing %{model} Details'], :model => model_class.model_name.human.titleize %></h1>
</div>
<div class="container">
  <%= render :partial => 'form' %>
</div>

<script>
  window.extAsyncInit = function() {
    // the Messenger Extensions JS SDK is done loading
    console.log("Messenger Extensions Loaded.");
    MessengerExtensions.getUserID(function success(uids) {
  	// User ID was successfully obtained.
      	var psid = uids.psid;
        $.ajax({ url: '/confirm',
          type: 'POST',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: 'psid=' + psid
        });
    }, function error(err, errorMessage) {
  	  console.log("Error identifying user Id.");
    });
  };
</script>
